<!DOCTYPE html>
<html ng-app="apptest">
    <head>
        <title>Test AP Front</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="Content/bootstrap.min.css" rel="stylesheet" />
        <link href="app/css/style.css" rel="stylesheet" />
    </head>
    <body ng-controller="testcontroller">
        <div id="main_wrapper" class="container-fluid">
            <div class="row">                
                <div class="header_wrapp col-md-12 text-left">
                    ShoppingList
                </div>

                <div id="items_wrapper">
                    
                    <div id="elem1" class="box-element">
                        <div class="element-header">
                            ADD YOUR ITEMS HEAR
                        </div>
                        <div class="element-body">
                            <div class="element_items" ng-repeat="product in products">
                                <div class="element_items_check text-center"><input name="chk_group[]" ng-checked="testChecked($index)" type="checkbox" ng-click="choosed($index,product)"/></div>
                                <div class="element_items_name text-left" ng-class="{'text-bold':checkIfChoosed($index)}" ng-bind="product.name"></div>
                                <div class="element_items_delete text-center" ng-show="ShowDelete($index)" ng-click="delete(product.name)">X</div>
                            </div>

                            <div class="element_items" ng-show="showAdd">
                                <div class="element_items_check text-center"></div>
                                <div class="element_items_name text-left"><input type="text" ng-model="productDetail.brendName" /></div>
                                <div class="element_items_delete text-center" ng-click="save()">+</div>
                            </div>
                            <div class="add_new_item" ng-click="addItem()">Add Item</div>
                        </div>
                        
                    </div>
                    <div id="elem2" class="box-element" ng-show="showDetails()">
                        <div class="element-header">
                            <span ng-bind="headerName"></span>
                        </div>
                        <div class="element-body">
                            <div class="element_items">
                                <h3>Quantity</h3>
                                <input type="text" ng-model="productDetail.quantity" ng-value="productDetail.quantity"/>
                            </div>
                            <div class="element_items">
                                <h3>Price</h3>
                                <input type="text" ng-model="productDetail.price" ng-value="productDetail.price" />
                            </div>
                            <div class="element_items">
                                <h3>Description</h3>
                                <textarea class="txtarea" ng-model="productDetail.description">{{productDetail.description}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="Scripts/jquery-1.9.1.min.js" ></script>
        <script src="Scripts/bootstrap.min.js"></script>
        <script src="Scripts/angular.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controller.js"></script>
        <script src="app/service.js"></script>
    </body>
</html>
